{% extends "base.html"%}
{% load static %}
{% block content %}
    <style>
      /* body
      {
        background-image: url("{% static 'img/login_bg.jpg' %}");
      } */
      #id_contact_no::-webkit-outer-spin-button,
      #id_contact_no::-webkit-inner-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
      #id_pin_code::-webkit-outer-spin-button,
      #id_pin_code::-webkit-inner-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
    </style>

  <h2>Login/Sign Up page</h2>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ profile_form.as_p }}
      <button type="submit" name="button">Submit</button>
    </form>
    <script type="text/javascript">
      document.getElementById('id_contact_no').type = 'number';
      document.getElementById('id_pin_code').type = 'number';
    </script>
{% endblock %}
