{% extends "base.html"%}
{% load static %}
{% block content %}
    <style>
      /* body
      {
        background-image: url("{% static 'img/login_bg.jpg' %}");
      } */
      #id_contact_no::-webkit-outer-spin-button,
      #id_contact_no::-webkit-inner-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
      #id_pin_code::-webkit-outer-spin-button,
      #id_pin_code::-webkit-inner-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
      input
      {
        border-radius: 20px;
        padding: 5px;
        border: 1px solid grey;
      }
      button
      {
        background-color: orangered; 
        border-radius: 20px; 
        text-align: center; 
        padding: 10px; 
        border: none; 
        width: 150px; 
        text-decoration: solid;
      }
      button:hover
            {
                background-color: rgb(255, 196, 0);
            }
    </style>

  <h2 style="margin: 10px; text-align: center; text-decoration: solid underline;">Welcome to Login/Sign Up page of BOT Ecosystem</h2>
    <form style="margin: 20px; margin-left: 40px;" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ profile_form.as_p }}
      <button type="submit" name="button">Submit</button>
    </form>
    <script type="text/javascript">
      document.getElementById('id_contact_no').type = 'number';
      document.getElementById('id_pin_code').type = 'number';
    </script>
{% endblock %}
