{% extends "base.html"%}
{% block content %}
<style>
  label
  {font-weight: 500;}
  button
  {
    border: none;
    background-color: orangered;
    text-align: center;
    text-decoration: solid black;
    font-weight: 600;
    width: 150px;
    border-radius: 20px;
  }
  input
      {
        border-radius: 20px;
        padding: 5px;
        border: 1px solid grey;
      }
      button:hover
            {
                background-color: rgb(255, 196, 0);
                border: orangered;
                text-decoration: underline;
            }
            form  { display: table; background-color:rgb(255, 196, 0);     }
p     { display: table-row;  }
label { display: table-cell;
font-weight: 500; }
input { display: table-cell;
margin: 5px; }
#pincode
{display: none;}
</style>
<h2 style="text-align: center; text-decoration: black underline; margin: 50px;">Welcome to the Appointment Booking Form</h2>
    <form style="width: 300px; height: 300px; margin: 0 auto; padding: 50px ;" method="post">
      {% csrf_token %}
      {{ form.as_p }}<br>
      <p><b><u>Symptoms</u></b></p>
      {{ symptoms.as_p}}<br>
      <button type="submit" style="margin-left: 70%;" name="button">Submit</button>
    </form>
{% endblock %}
