{% extends "base.html"%}
{% block content %}
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script>
      $(document).ready(function () {
          // Hide the div
          $("#div1").hide();
          // Show the div after 5s
          $("#div1").delay(600).fadeIn(300).fadeOut(6000);
      });
  </script>
<style>
      #div1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#text{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
table{
  background-color: white;
  font-weight: 900;
}

</style>
<div id="div1" style="display:none"><div id="text">Rahul & Pritish's DBMS Project<br>Thanks for Viewing</div></div>
  <span id="count"></span>
  <div class="container">
  {% if is_hospital == "True" %}
  <h1>Details</h1>
  <p>Total beds: {{ current_instance.total_beds }}</p>
  <p>Available beds: {{ current_instance.available_beds }}</p>
  <p>Occupied beds: {{ current_instance.occupied_beds }}</p>
  <a href="{% url 'accounts:hupdate' %}">
    <button type="button" class="btn btn-success" name="button">Update</button><br>
  </a>
  {% if bookings_under == "No bookings" %}
  <div class="text-center">
       <div class="alert alert-warning" role="alert">
         There are no bookings under your hospital name
       </div>
  </div>
  {% else %}<br>
  <table class="table table-bordered">
    <thead class="table-success">
      <th>User Code:</th>
      <th>User Name:</th>
      <th>User Address:</th>
      <th>User Pin Code:</th>
      <th>User Contact no.:</th>
      <th>Report Updation:</th>
    </thead>
    {% for bookings in bookings_under %}
    <tr>
      <td>{{ bookings.naiveuser_id }}</td>
      <td>{{ bookings.name }}</td>
      <td>{{ bookings.address }}</td>
      <td>{{ bookings.pin_code }}</td>
      <td>{{ bookings.contact_no }}</td>
      <td>
        <a href="{% url 'general:result' slug=bookings.naiveuser_id %}">
          <button type="button" class="btn btn-success" name="button">Result</button>
        </a>
     </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% elif is_hospital == "False"%}
  <h1>Details</h1>
  <p>Availablity : {{ current_instance.availablity }}</p>
  <a href="{% url 'accounts:tupdate' %}">
    <button type="button" class="btn btn-sucsess"name="button">Update</button><br>
  </a>
  {% if bookings_under == "No bookings" %}
  <div class="text-center">
       <div class="alert alert-warning" role="alert">
         There are no bookings under your testing facility name
       </div>
  </div>
  {% else %}
  <table class="table table-bordered">
    <thead class="table-success">
      <th>User Code:</th>
      <th>User Name:</th>
      <th>User Address:</th>
      <th>User Pin Code:</th>
      <th>User Contact no.:</th>
      <th>Report Updation:</th>
    </thead>
    {% for bookings in bookings_under %}
    <tr>
      <td>{{ bookings.naiveuser_id }}</td>
      <td>{{ bookings.name }}</td>
      <td>{{ bookings.address }}</td>
      <td>{{ bookings.pin_code }}</td>
      <td>{{ bookings.contact_no }}</td>
      <td>
        <a href="{% url 'general:result' slug=bookings.naiveuser_id %}">
          <button type="button" class="btn btn-success" name="button">Result</button>
        </a>
     </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% else %}
<form style="text-align: center;" method="POST">
  {% csrf_token %}
  <h2 style="text-align: center; text-decoration: underline;">Beds On Track(BOT)</h2>

  <div class="text-center" style="margin:10px 0px;">Type your Pincode:
    <input type="text" name="pin_code" value="" style="width: 250px;"  placeholder="Hospital/Testing Search">
    <input type="submit"  value="Find">
  </div>
</form>
  <div class="text-center">
    {% if messages %}
     {% for message in messages %}
       <div class="alert alert-{{ message.tags }}" role="alert">
         {{ message }}
       </div>
     {% endfor %}
   {% endif %}
  </div>
{% if filteredhospitals %}
<h3 style="text-align: center;"><u>Hospitals Near You:</u></h3>
<table class="table table-responsive table-bordered">
  <thead class="table-danger">
    <th>Hospital Code:</th>
    <th>Hospital Name:</th>
    <th>Hospital Email:</th>
    <th>Hospital Address:</th>
    <th>Hospital Pin Code:</th>
    <th>Hospital Contact no.:</th>
    <th>Total Beds:</th>
    <th>Available Beds:</th>
    <th>Booking Form:</th>
  </thead>
  {% for hospital in filteredhospitals %}
  <tr>
    <td>{{ hospital.hospital.username }}</td>
    <td>{{ hospital.name }}</td>
    <td>{{ hospital.hospital.email }}</td>
    <td>{{ hospital.address }}</td>
    <td>{{ hospital.pin_code }}</td>
    <td>{{ hospital.contact_no }}</td>
    <td> {{ hospital.total_beds }}</td>
    <td> {{ hospital.available_beds }}</td>
    <td>
      <a href="{% url 'general:booking' slug=hospital.slug %}">
        <button type="button" class="btn btn-primary" name="button">Book Appointment</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% if filteredtesting %}
<h3 style="text-align: center;"><u>Testing Facilities Near You</u></h3>
<table class="table table-bordered">
  <thead class="table-danger">
    <th>Testing Facility Code:</th>
    <th>Testing Facility Name:</th>
    <th>Testing Facility Email:</th>
    <th>Testing Facility Address:</th>
    <th>Testing Facility Pin Code:</th>
    <th>Testing Facility Contact no.:</th>
    <th>Availablity</th>
    <th>Booking Form:</th>
  </thead>
  {% for test in filteredtesting %}
  <tr>
    <td>{{ test.testing.username }}</td>
    <td>{{ test.name }}</td>
    <td>{{ test.testing.email }}</td>
    <td>{{ test.address }}</td>
    <td>{{ test.pin_code }}</td>
    <td>{{ test.contact_no }}</td>
    <td>{{ test.availablity }}</td>
    <td>
      <a href="{% url 'general:booking' slug=test.slug %}">
      <button type="button" class="btn btn-primary" name="button">Book Appointment</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<h2 id="hospital" style="text-align: center;"><u>Hospitals List</u></h2>
<table class="table table-responsive">
  <thead class="table-primary">
    <th>Hospital Code:</th>
    <th>Hospital Name:</th>
    <th>Hospital Email:</th>
    <th>Hospital Address:</th>
    <th>Hospital Pin Code:</th>
    <th>Hospital Contact no.:</th>
    <th>Total Beds:</th>
    <th>Available Beds:</th>
    <th>Booking Form:</th>
  </thead>
  {% for hospital in hospitals %}
  <tr>
    <td>{{ hospital.hospital.username }}</td>
    <td>{{ hospital.name }}</td>
    <td>{{ hospital.hospital.email }}</td>
    <td>{{ hospital.address }}</td>
    <td>{{ hospital.pin_code }}</td>
    <td>{{ hospital.contact_no }}</td>
    <td> {{ hospital.total_beds }}</td>
    <td> {{ hospital.available_beds }}</td>
    <td>
      <a href="{% url 'general:booking' slug=hospital.slug %}">
        <button type="button" class="btn btn-primary" name="button">Book Appointment</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<h2 id="testing" style="text-align: center;"><u>Testing Facility List</u></h2>
<table class="table table-hover">
  <thead class="table-primary">
    <th>Testing Facility Code:</th>
    <th>Testing Facility Name:</th>
    <th>Testing Facility Email:</th>
    <th>Testing Facility Address:</th>
    <th>Testing Facility Pin Code:</th>
    <th>Testing Facility Contact no.:</th>
    <th>Availablity</th>
    <th>Booking Form:</th>
  </thead>
  {% for test in testing %}
  <tr>
    <td>{{ test.testing.username }}</td>
    <td>{{ test.name }}</td>
    <td>{{ test.testing.email }}</td>
    <td>{{ test.address }}</td>
    <td>{{ test.pin_code }}</td>
    <td>{{ test.contact_no }}</td>
    <td>{{ test.availablity }}</td>
    <td>
      <a href="{% url 'general:booking' slug=test.slug %}">
      <button type="button" class="btn btn-primary" name="button">Book Appointment</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}
